body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;

    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
}

.cabecalho nav li a {
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;

    transition: 0.5s;
}

.cabecalho nav li a:hover {
    background-color: #d5001d;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    align-items: center;

    height: calc(100vh - 132px);
    padding:0 30px 30px;
}

.container .imagem-titulo {
    max-width: 500px;
}

.container .imagem-mario {
    max-width: 500px;
}

.container .descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.container .botao-trailer {
    background-color: #d5001d;
    color: #ffffff;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    border: none;
    border-radius: 50px;

    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1);
}

.fundo-video {
    background-color: #060606;
    position: absolute;
    z-index: -1;
    width: 100vw;  
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
    /* width: 100vw; */
}

.fundo-video::after {
    content: "";
    
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(
    90deg,
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.80) 50%, 
    rgba(0,0,0,1) 100%);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    

    position: fixed;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    background-color: rgba(55, 53, 53, 0.8);
}

.conteudo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.fechar-modal {
    background-color: #ffffff;
    color: #d5001d;
    padding: 5px;
    border-radius: 10px;
    width: 40px;
    text-align: center;
   cursor: pointer;
}

/* .modal iframe {
    border-width: 0;
    width: 860px;
    height: 480px;
} */

/* pode se colocar mais de uma classe em um elemento como no 
exemplo abaixo onde se aborda as duas classes sem espaço */
.modal.aberto {
    opacity: 1;
    visibility: visible;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100vw;

    /* background-color: #4495FF; */
    font-size: 14px;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

#nome {
    color: #DF2D37;
   
}