@media (max-width: 1024px) {
    body {  
        background-image: url(../imagens/bkg-mobile-portrait-sky.png);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho nav li a:hover {
        background-color: #000000;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: auto;
    }

    .container .imagem-titulo {
        max-width: 70%;
    }

    .container .imagem-mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .container .informacoes p {
        color: #ffffff;
    }

    .container .botao-trailer {
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;
        box-shadow: 4px 4px 0px black;
        font-weight: 900;
    }
  
    .container .descricao p {
        max-width: 80%;
    
    }

    footer {
        color: #97a098;
    }

    #nome {
        color: #97a098;
        text-decoration: underline;
    }
}

.modal .fechar-modal {
    width: 30px;
    line-height: 20px;
}

/* RESPONSIVO DAS FONTES - Mobile
- Caso a tela seja menor, a fonte diminuirá de acordo ao tamanho */

@media only screen and (max-width: 976px) {
    #video {
        width: 90vw;
    }
}

@media only screen and (max-width: 710px) {
    #video {
        width: 90vw;
        height: 360px;
    }
}

@media only screen and (max-width: 550px) {
    .cabecalho {
        padding: 20px;
    }
    
    .cabecalho nav li a  {
        font-size: 16px;
    }

    .container .descricao{
        font-size: 14px;
    }

    #video {
        width: 90vw;
        height: 260px;
    }

    p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 376px) {
    p {
        font-size: 8px;
    }
}
